.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 0;
  background: beige;
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
