.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.BoxShell {
  display: inline-block;
  width: 300px;
}

.Box {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 0;
  background: beige;
  opacity: 0.8;
  border-radius: 10%;
}

.Box p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Button {
  border: 1px solid black;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  display: inline-block;
  /*margin: 10px;*/
}

#leftButtonRow {
  width: 70px;
  display: inline-block;
  vertical-align: top;
}

#bottomButtonRow .Button {
  margin: 10px;
}

#bottomButtonRow .ButtonShell {
}

#leftButtonRow .Button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#gameContainer {
  width: 370px;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
